*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
}
body{
  background-color: white;
}

/* heading */

h1{
  text-align: center;
}

/* main box in which stop timer will show */

.box{
  background-color: #ffe69a;
  width: 60%;
  min-width: 500px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  padding: 60px 0;
  border-radius: 12px;
}

/* display time */

.timeDisplay{
  position: relative;
  width: 110%;
  left: -5%;
  padding: 40px 0;
  font-size: 50px;
  text-align: center;
  font-family: 'Roboto mono',monospace;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
}

.buttons{
  width: 80%;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

button i {
  font-size: 16px;
}